.body {
    font-family: 'Comic Neue', cursive;
}

h1 {
    font-family: 'Comic Neue', cursive;
    color: #000000;
}

button {
    font-family: 'Comic Neue', cursive;
    background-color: rgb(100, 100, 100);
    border: none;
    color: #000000;
    padding: 8px 20px;
    font-size: 16px;
    opacity: 1;
    transition: 0.2s;
    border-radius: 3px;
}
